# Built application files
*.apk
*.aab

# Gradle
.gradle/
build/
**/build/

# Local configuration
local.properties

# Android Studio/IntelliJ
*.iml
.idea/

# Native build outputs
.externalNativeBuild/
.cxx/

# Profiling
captures/
